<% if @spot.errors.any? %>
  <% @spot.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit spot #<%= @spot.id %>
</h1>

<hr>

<form action="/update_spot/<%= @spot.id %>" method="post">

  <div class="form-group">
    <label for="ride_id">
      Ride
    </label>

    <%= select_tag(:ride_id, options_from_collection_for_select(Ride.all, :id, :created_at, @spot.ride_id), :class => "form-control") %>
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update spot
  </button>
</form>

<hr>

<a href="/spots">
  Go back
</a>
