<% if @spot.present? %>
  <% if @spot.errors.any? %>
    <% @spot.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new spot
</h1>


<hr>

<form action="/create_spot" method="post">

  <div class="form-group">
    <label for="ride_id">
      Ride
    </label>

    <%= select_tag(:ride_id, options_from_collection_for_select(Ride.all, :id, :created_at, @spot.ride_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="joiner_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create spot
  </button>
</form>

<hr>

<a href="/spots">
  Go back
</a>
