<form action="/create_spot_from_ride" method="post">

  <input type="hidden" name="ride_id" value="<%= @ride.id %>">

  <input type="hidden" name="joiner_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create spot
  </button>
</form>
